<div class="container split left">
  <div class="centered">
    <ul class="list-group heroes">
      <li *ngFor="let hero of heroes" class="list-group-item" (click)="setFirstHero(hero);">
        {{hero.name}}
      </li>
    </ul>
    <p>hero: {{hero1}}</p>
  </div>
</div>

<div class="container split right">
  <div class="centered">
    <ul class="list-group heroes">
      <li *ngFor="let hero of heroes" class="list-group-item" (click)="setSecondHero(hero);">
        {{hero.name}}
      </li>
    </ul>
    <p>hero: {{hero2}}</p>
  
  </div>
</div> 


<div class="container split right left" style="background-color: #f000">
  <div class="centered">
    <button class="btn btn-dark" (click)="versus();"> Fight </button>
  </div>
</div> 