
<div class="container split left">
  <div class="centered">
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-outline-dark" *ngFor="let hero of heroes" (click)="setFirstHero(hero);"> {{hero.name}}</button>
    </div>
    <p *ngIf="hero1">hero: {{hero1.name}}</p>
  </div>
</div>

<div class="container split right">
  <div class="centered">
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-outline-dark" *ngFor="let hero of heroes" (click)="setSecondHero(hero);"> {{hero.name}}</button>
    </div>
    <p *ngIf="hero2">hero: {{hero2.name}}</p>
  </div>
</div> 


<div class="container split right left" style="background-color: #f000">
  <div class="centered">
    <button class="btn btn-dark" (click)="versus();"> Fight </button>
    <p *ngIf="winner"> {{winner.name}} </p>
  </div>
</div> 
